doctype html
html(ng-app="nodeTodo")
  head
    title Todo app with node express angular and postgres 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen")
    link(href="/stylesheets/style.css" rel="stylesheet")
  body(ng-controller="mainController")
    block content
    script(src="/javascripts/jquery-1.11.3.min.js" type="text/javascript")
    script(src="/javascripts/bootstrap.min.js" type="text/javascript")
    script(src="/javascripts/angular.min.js" type="text/javascript")
    script(src="/javascripts/realapp.js")
